/*menu_color*/
.wp-first-item.wp-has-submenu.wp-not-current-submenu.menu-top.menu-top-first.menu-icon-dashboard.menu-top-first {
	background-color: #FFBCBC;
}

#toplevel_page_all-in-one-seo-pack-aioseop_class {
	background-color: #FFDEBC;
}

#menu-posts {
	background-color: #FFBCBC;
}

#toplevel_page_custom-header {
	background-color: #FFDEBC;
}
#menu-settings {
	background-color: #FFDEBC;
}

/*All in One SEO_color*/
#aiosp_home_metabox .inside{
  background-color: #fff1ef;
  padding: 18px 0px 10px 0px;
  }

#aiosp_home_metabox .hndle{
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));

}

#ed_toolbar {
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}

#postimagediv .hndle{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}
#categorydiv .hndle{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));

}
#submitdiv .hndle{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}

#major-publishing-actions{
 background-color:#FFE4DB;
}

#aiosp_title_wrapper {
  background-color: #fff1ef;
}

#aiosp_description_wrapper{
  background-color: #fff1ef;
  margin: 10px 0px;
}
#aiosp_keywords_wrapper{
  background-color: #fff1ef;
}

/*hiyoko_toukou*/
.tmce-active #insert-media-button {
	margin-left: 10px;
	margin-top: 65px;
}
.tmce-active .wp_themeSkin tr.mceFirst td.mceToolbar {
	height: 60px;
}
.tmce-active .wp_themeSkin #content_toolbar1 {
	margin-top: -25px;
	background-color: transparent;
}
.tmce-active .wp_themeSkin tr.mceFirst td.mceToolbar {
	border-bottom: 1px solid #d1d1d1;
	background: #FFF0EE;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#FFC6B4),to(#FFF0EE));
	background-image: -webkit-linear-gradient(bottom,#FFC6B4,#FFF0EE);
	background-image: -moz-linear-gradient(bottom,#FFC6B4,#FFF0EE);
	background-image: -o-linear-gradient(bottom,#FFC6B4,#FFF0EE);
	background-image: linear-gradient(to top,#FFC6B4,#FFF0EE);
}
    
.html-active #insert-media-button {
	margin-left: 10px;
	margin-top: 95px;
}
.html-active .quicktags-toolbar {
	min-height: 90px;
}

/*hiyoko_gaikan*/

#sidebar-1 [id*="google"] .widget-title{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}
#sidebar-1 [id*="google"] .widget-inside{
 background-color: #fff1ef;
}
#sidebar-1 [id*="amazon"] .widget-title{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}
#sidebar-1 [id*="amazon"] .widget-inside{
 background-color: #fff1ef;
}
#sidebar-1 [id*="tw"] .widget-title{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}
#sidebar-1 [id*="tw"] .widget-inside{
 background-color: #fff1ef;
}#sidebar-1 [id*="fb"] .widget-title{
 background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFC6B4), to(#FFF0EE));
}
#sidebar-1 [id*="fb"] .widget-inside{
 background-color: #fff1ef;
}

.submit {
margin-left: 10px;
}

#hiyoko-widgets-edit {
float: right;
}

#alerttitle {
  background: #ff2000;
  color: white;
  float: left;
  -webkit-transform: scale(1.5);
  margin-left: 55px;
}
#alertdes {
  background: #ff2000;
  color: white;
  float: left;
  -webkit-transform: scale(1.5);
  margin-left: 55px;
}
#alertkey {
  background: #ff2000;
  color: white;
  float: left;
  -webkit-transform: scale(1.5);
  margin-left: 55px;
}

#alertgoogle {
  background: #ff2000;
  color: white;
  -webkit-transform: scale(1.5);
  margin-left: 24px;
  margin-right: 108px;

}
#alertamazon {
  background: #ff2000;
  color: white;
  -webkit-transform: scale(1.5);
  margin-left: 24px;
  margin-right: 108px;
}
#alerttw {
  background: #ff2000;
  color: white;
  -webkit-transform: scale(1.5);
  margin-left: 24px;
  margin-right: 108px;
}
#alertfb {
  background: #ff2000;
  color: white;
  -webkit-transform: scale(1.5);
  margin-left: 24px;
  margin-right: 108px;
}
#alertcount {
  float: right;

}
